.maid-portal-container {
    display: flex;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background: #f9fafb;
  }
  
  .sidebar {
    width: 250px;
    background: #111827;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
  }
  
  .dashboard-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .sidebar-options button {
    background: none;
    border: none;
    color: white;
    text-align: left;
    padding: 0.8rem 0;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .sidebar-options button:hover {
    color: #04AA6D;
  }
  
  .signout-button {
    background: none;
    border: 2px solid #04AA6D;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #04AA6D;
    cursor: pointer;
    margin-top: 2rem;
    transition: 0.3s;
  }
  
  .signout-button:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  .dashboard-content {
    flex-grow: 1;
    padding: 2rem;
  }
  
  .transactions-section {
    background: #111827;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    margin-top: 2rem;
  }
 
  .welcome-text {
    color: #111827; /* Dark gray */
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .total-earnings {
    color: #04AA6D; /* Green */
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  