#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.slidecontainer {
  width: 100%; 
}

.slider {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.spec-pill {
  display: inline-block;
  margin: 0.25rem;
  padding: 0.4em 0.8em;
  border-radius: 999px;
  border: 2px solid #aaa;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.spec-pill:hover {
  border-color: #000000;
  background-color: rgba(135, 215, 255, 0.38);
}

.spec-pill.active {
  background-color: #66e0f99c;
  color: white;
  border-color: #ffffff;
}

.profile-panel {
  position: fixed;
  top: 0;
  left: -400px;  /* Slide from left */
  width: 300px;
  height: 95vh;
  background-color: #333;
  color: white;
  padding: 2rem;
  padding-left: 4rem;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  transition: left 0.3s ease;
  z-index: 1000;
  overflow-y: scroll;
}

.profile-panel:not(.open) {
  z-index: -1; /* pushes it behind when hidden */
}
.profile-panel.open {
  left: 0;
}

