.tinderCards__cardContainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  height: 70vh;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 18px 53px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
}

.cardtext {
  background: rgba(0, 0, 0, 0.45);
  color: white;
  padding: 20px;
  backdrop-filter: blur(4px);
  width: 100%;
  box-sizing: border-box;
}

.main-content {
  transition: transform 0.4s ease;
  will-change: transform;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
  margin: 0;
  padding: 0;
}

.main-content.shifted {
  transform: translateX(300px);
}
